.scroll-screen{
    position: relative;
    top: 82px;
    width: 100%;
    height: 300vh;
}
#friends-display-link{
    text-align: center;
    position: relative;
    top: 0px;
    background-color: #FAFAFA;
    padding: 12px 0px;
    z-index: -1;
    color: rgba(0, 0, 0, 0.2);
}
#friends-display-link span{
    color: #373737;
}

