.status-bar{
    /* ok version */
    display: flex;
    padding: 5px;
    position: fixed;
    top: 0px;
    width: 100%;
    box-sizing: border-box;

}
.status-bar__column{
    display: flex;
    align-items: center;
    width: 33%;
}
.status-bar__column span{
    font-size: 14px;
}
.status-bar__column:first-child span{
    margin-right: 3px;
}
.status-bar__column:nth-child(2) {
    justify-content: center;
}
.status-bar__column:nth-child(3){
    justify-content: end;
}
.status-bar__column .fa-battery-full{
    margin: 0px 3px;
}